/* https://spoqa.github.io/spoqa-han-sans/ko-KR/ */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0px;
}

.App {
	width: 100vw;
}